
<!--<h2>{{member.firstName}} {{member.lastName}}</h2>-->
<!--<h2>{{member.username}} {{member.memberNo}}</h2>-->

<ul *ngIf="loadingMembers">
  <li *ngFor=" let member of member">
    <h2>{{member.firstName}} {{member.lastName}}</h2>
      <p class="color">Username:{{member.username}}</p>
      <p> {{member.memberNo}}</p>
  </li>
</ul>

<p *ngIf="member.length>1">{{member.length}} Member found in Vip</p>

<p *ngIf="member.length === 1"> Only{{member.length}}Only 1 Member found in Vip</p>

<p *ngIf="!loadingMembers">Loading VIP Members</p>
