<button mat-button>Mat Button</button>
<button mat-raised-button>Mat Raised Button</button>


<h1>Typography examples</h1>
<div class="mat-display-1">This is a display 1</div>
<div class="mat-display-2">This is a display 2</div>
<div class="mat-display-3">This is a display 3</div>
<div class="mat-display-4">This is a display 4</div>



<h1>Body and text caption</h1>
<div class="mat-headline">This is a headline</div>
<div class="mat-title">This is a title</div>
<div class="mat-subheading-1">This is a subheading</div>
<div class="mat-caption">This is a caption</div>


<h1>Color themed button</h1>
<div>
  <button color="primary" mat-button>primary color button</button>
  <button color="accent" mat-button>Accent color button</button>
  <button color="warn" mat-button>Warn color button</button>
</div>
<div>
  <button color="primary" mat-flat-button>primary color button</button>
  <button color="accent" mat-raised-button>Accent color button</button>
  <button color="warn" mat-stroked-button>Warn color button</button>
</div>
<!--<p>-->
<!--  Default appearance:-->
<!--  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">-->
<!--    <mat-button-toggle value="bold">Bold</mat-button-toggle>-->
<!--    <mat-button-toggle value="italic">Italic</mat-button-toggle>-->
<!--    <mat-button-toggle value="underline">Underline</mat-button-toggle>-->
<!--  </mat-button-toggle-group>-->
<!--</p>-->

<!--<p>-->
<!--  Legacy appearance:-->
<!--  <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">-->
<!--    <mat-button-toggle value="bold">Bold</mat-button-toggle>-->
<!--    <mat-button-toggle value="italic">Italic</mat-button-toggle>-->
<!--    <mat-button-toggle value="underline">Underline</mat-button-toggle>-->
<!--  </mat-button-toggle-group>-->
<!--</p>-->
