<h1>Angular App Lesson</h1>
<!--<app-navbar></app-navbar>-->
<!--<app-user></app-user>-->
<!--<app-math></app-math>-->
<!--<app-hello></app-hello>-->
<!--<app-travel></app-travel>-->
<!--<app-vip></app-vip>-->
<!--<app-root></app-root>-->
<!--<app-users></app-users>-->
<!--<app-posts></app-posts>-->
<!--<app-home></app-home>-->
<!--<router-outlet></router-outlet>-->
<app-material-styling></app-material-styling>

<!--<form #corona="ngForm" (ngSubmit)="onclickSung bmit(corona.value)">-->
<!--  <input type="text" name="patient_name" placeholder="name" ngModel>-->
<!--  <br/>-->
<!--  <input type="text" name="patient_age" placeholder="age" ngModel>-->
<!--  <br/>-->
<!--  <input type="submit" value="submit">-->
<!--</form>-->

<!--<form [formGroup]="form" (ngSubmit)="onclickSubmit(form.value)">-->
<!--  <input type = "text"-->
<!--         name = "patient_name"-->
<!--         placeholder="name"-->
<!--         formControlName="patient_name">-->
<!--  <br/>-->
<!--  <input type = "text"-->
<!--         name = "patient_age"-->
<!--         placeholder="age"-->
<!--         formControlName="patient_age">-->
<!--  <br/>-->
<!--  <input type="submit" value="submit">-->
<!--</form>-->












