<h2>Bravo Cohort</h2>
<p>Date started: May 4th</p>

<!-- String Interpolation

one way to bind data to our template from our component -->
{{'Hello from user HTML'}}


<h3>{{user.firstName}}{{user.lastName}}</h3>

<h3> age:{{user.age}}</h3>

