<h1>Users</h1>
<!-- Structural Directives
ngIF= created conditionals in our templates(s)
ngFor= used to loop through an array
* ADDING LOGIC INTO OUR TEMPLATES
Every structural directive needs to have the asterisk (*)-->

<!--<h3>{{users[0].firstName}}</h3>-->
<!--<h3>{{users[1].firstName}}</h3>-->

<!--<ul *ngIf="users.length > 4">-->
<!--<ul>-->
<!--  <li *ngFor=" let user of users">-->
<!--    {{user.firstName}} {{user.lastName}}-->
<!--    <ul *ngIf="displayInfo">-->
<!--      <li>Age: {{user.age}}</li>-->
<!--      <li>Email: {{user.email}}</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->


<!--ANOTHER EXAMPLE OF ngIF-->

<!--<h3 *ngIf="users.length === 0">No Users Found</h3>-->

<button (click)="showUserForm = !showUserForm " class="btn-dark md-3">Add User</button>
<div class=" card card-body mb-3" >
<h2>Add User</h2>
  <form #userForm="ngForm" (submit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text"
        [(ngModel)]="user.firstName"
        class="form-control is-invalid"
        name="firstName"
        #userFirstName="ngModel" required minlength="2" maxlength="10">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First Name Required</div>
    </div>
<!--    (cut)="fireEvent($event)"-->
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" [(ngModel)]="user.lastName" class="form-control is-invalid" name="lastName" #userLastName="ngModel" required minlength="2" maxlength="10">
        <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last Name Required</div>
      </div>

    <div class="form-group">
      <label>Age</label>
      <input type="text" [(ngModel)]="user.age" class="form-control is-invalid" name="age" #userAge="ngModel" required minlength="1" maxlength="10">
      <div [hidden]="!userAge.errors?.required" class="invalid-feedback">Age Required</div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="user.email" [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched}" class="form-control" name="email" #userEmail="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback"> Email name required</div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Email is not valid !!</div>
    </div>

    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add New User</button>


  </form>
</div>






<!--<button (click)="addUser({firstName:'Jane',lastName:'Smith', age:22, email:'Smith@gmail.com'})" [disabled]="!enableAddUser" class="btn btn-light btn-block mb-3" [ngClass]="CurrentClass">Add New User</button>-->

<div>
<ul class="list-unstyled" *ngIf="users.length > 0">

<!--    CLASS BINDING - add or use certain classes depending on certain properties, values, or aspect of a component-->
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-secondary]="user.isActive">
    <div class="row">
      <div class="col-sm-4">

<!--          BIND OUR IMAGE PROPERTY-->
        <img class="img-fluid" [src]="user.image" alt="">
<!--          OTHER WAY BINDING OUR IMAGE-->
<!--        <img class="img-fluid" src="{{ user.image }}" alt="">-->
<!--        <img class="img-fluid" bind-src=" user.image " alt="">-->



      </div>
      <div class="col-sm-8">


        <!--        When your application loads, we should only see the album's cover, the album's title and band/artist.-->
        <!--        Hide the other information.-->
        <!--        Include a click feature to where when you click on the button or somewhere on the application, it will display all of the album's information.-->
        <!--        There should be a difference of the title and band's placement when the information is showing and not showing.-->

        <h2 [ngStyle]="currentStyle" >{{user.firstName}} {{user.lastName}}<button (click)="toggleHide(user)" class="btn btn-dark btn-sm"></button><i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'"></i></h2>

        <ul *ngIf="!user.hide && user.age && user.email">
          <li>Age: {{ user.age }}</li>
          <li>Email: {{user.email}}</li>

<!--          Angular Pipes -a way to format our date in our template-->
<!--        <li class="list-group-item"> Balance: {{user.balance | currency }} </li>-->
<!--          <li class="list-group-item"> Balance: {{user.balance | currency:"GPD": "" }} </li>-->

<!--          <li class="list-group-item">-->
<!--            {{user.memberSince | date}}-->
<!--            {{user.memberSince | date: "MM/dd/yyyy" }}-->
<!--            {{user.memberSince | date: "fullDate"}}-->
<!--            {{user.memberSince | date: "yyyy"}}-->
<!--          </li>-->

          <!--          Example for number pipe-->
<!--          <li class="list-group-item">-->
<!--            {{5 | number:"2.4"}}-->
<!--          </li>-->
          <!--          Example for percent pipe-->
<!--          <li class="list-group-item">-->
<!--            {{1 | percent}}-->
<!--            <pre ngNonBindable>{{.5 | percent }}</pre>-->
<!--            {{.5 | percent }}-->
<!--          </li>-->


<!--          ngNonBindable - makes an element(s) disabled to binding date -->
<!--          <li class="list-group-item" ngNonBindable>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </li>
</ul>
<h3 *ngIf="users.length === 0">No Users Found</h3>
<!--<h3 *ngIf="!loading">Loading Users...</h3>-->
</div>

